{% extends 'temp.html.twig' %}
{% block contenu %}
    {{ form_start(vueFormulaire) }}
    {{ form_row(vueFormulaire.nom, {'attr':{'placeholder':"Titre de l'entreprise"}})}}
    {{ form_row(vueFormulaire.activite, {'attr':{'placeholder':"Activite de l'entreprise"}})}}
    {{ form_row(vueFormulaire.adresse, {'attr':{'placeholder':"Adresse de l'entreprise"}})}}
    {{ form_row(vueFormulaire.emailContact, {'attr':{'placeholder':"Email de contact de l'entreprise"}})}}

    {{ form_end(vueFormulaire) }}

    <button type="submit" class = "btn btn-dark">Enregistrer</button>
{% endblock %}
