{% extends 'temp.html.twig' %}
{% block contenu %}

    <div class="example-wrapper">
        <h2>Voici les informations sur ce stage</h2>
        <h5 style="color: #280af7; font-weight: bold;"> {{ stageCible.titre }} </h5>
        <div class="card">

            <h5 style="color: #280af7; font-weight: bold;">Nom de l'Entreprise</h5>
            <td><a href="{{path('prostage_stagesParEntreprise', {id_entreprise:stageCible.entreprise.id})}}">{{ stageCible.entreprise.nom }}</a></td>


            <h5 style="color: #280af7; font-weight: bold;">Formation</h5>
            {% for formationCourante in stageCible.formations %}
                {# Faire route tri #}
                <pclass=police>{{ formationCourante.libelle }}</p>
            {% endfor %}

            <h5 style="color: #280af7; font-weight: bold;">Activité de l'entreprise</h5>
            <pclass=police>{{ stageCible.entreprise.activite }}</p>

            <h5 style="color: #280af7; font-weight: bold;">Descriptif de la mission</h5>
            <pclass=police>{{ stageCible.descMission }}</p>
        </div>
    </div>

{% endblock %}